


.marginForm{
    margin-top: 30px;
}

.headerBand{
    background: url("../images/headerBackground.jpg")  no-repeat center;
    background-size: cover;
}

.jumbotron{
    margin-bottom: 0;
    padding: 0.5em 0.6em;
}

.jumbotron h1{
     text-align: center;
     font-family: Rockwell, Tahoma, sans-serif;
     color: #000000;
    font-size: 2em;
 }

.navbar{
    background-color: #dedede;
}

.accueil{
    text-align: center;
    margin:20px;
}

.img-accueil{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}
h1{
    text-align: center;
    color: #4995ba;
    size: 2em;
}
.table{
    padding-left: 80px;
    padding-right: 80px;
}